{% extends 'base.html' %}
{% load placeholder_setter %}

{% block content %}

    <h1>Register Seeker Profile</h1>
    
    <form method="post">
        {% csrf_token %}
    
        {{ form.email|placeholder_setter:'Email' }}
        {{ form.email.errors }}
    
        {{ form.first_name|placeholder_setter:'First Name' }}
        {{ form.first_name.errors }}
        
        {{ form.last_name|placeholder_setter:'Last Name' }}
        {{ form.last_name.errors }}
    
        {{ form.password1|placeholder_setter:'Password' }}
        {{ form.password1.errors }}

        {{ form.password2|placeholder_setter:'Confirm Password' }}
        {{ form.password2.errors }}
    
        <button type="submit">Register</button>
    </form>
    
{% endblock %}