{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card w-50 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Edit Company Profile</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="needs-validation">
                    {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                    
                        <div class="mb-3">
                            {{ form.as_p }}
                        </div>
                    <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}